<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load crispy_forms_tags %}
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
        <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'main/mainpage.css' %}">
          <!--Capthca link  -->
        <!-- <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfUim4kAAAAAFdvAdzFkzmEPYxebznU0UGI40Yq"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
        
    
      
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'main/mainform.css' %}" rel="stylesheet">
      
     

          <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/media/style.css" rel="stylesheet">

    {% block style %}
    {% endblock %}

</head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="navbar-toggler-icon"></span>
      <img src="{% static 'django.webp' %}" alt="Logo" width="25"> 
      </button> <a class="navbar-brand" href="{% url 'mainpage' %}">SkillSwap</a>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav">
        <li class="nav-item active">
           <a class="nav-link" href="{% url 'mainpage' %}">Mainpage <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="{% url 'catalogue' %}">Catalogue</a>
           
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}">Cart</a>
          {% if user.groups.first.name == 'moderator' and user.is_authenticated %} <a class="nav-link" href="{% url 'moderator' %}">Moderator</a> {% endif %}
       </li> -->
      </ul>
      <form class="form-inline" action="{% url 'searchbar' %}" method="get">
        <input class="form-control mr-sm-2" type="text" name="search"> 
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item active">
          {% if user.groups.first.name == 'teacher' and user.is_authenticated %} <a class="nav-link" href="{% url 'create' %}">Create course <span class="sr-only">(current)</span></a> {% endif %}
        </li>
        <li class="nav-item active">
          {% if not user.groups.first.name == 'learner' and  user.is_authenticated %} <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a> {% endif %}
        </li>
        <li class="nav-item active">
          {% if  user.is_authenticated %}
          <!-- <img src="media/coin.png" alt="no" style="width: 20px; height: 20px"> -->
           <p class="nav-link"><img src="/media/coin.png" alt="no" style="width: 20px; height: 20px"> {{user.learner.coins}}<span class="sr-only">(current)</span></a>
           {% endif %}
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">{{user}}</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            {% if user.is_authenticated %} <a class="dropdown-item" href="{% url 'profile' %}">Profile</a> {% endif %} <a class="dropdown-item" href="{% url 'login' %}">Log in</a> <a class="dropdown-item" href="{% url 'register' %}">Register</a>
            <div class="dropdown-divider">
            </div> <a class="btn btn-danger dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
      {% block content %}
      <body>
    
        <!-- <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h2>
              Hello, {{user}}!
            </h2>
            <p>
              This is a free learning site, feel free to use our resourses, but you have to register first!
            </p>
            <p>
              <a class="btn btn-primary btn-large" href="{% url 'catalogue' %}">Learn more </a>
            </p>
          </div>
        </div>
      </div> -->

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Learn anything with Skillswap</h1>
      <h2>Welcome to SkillSwap, your gateway to a world of limitless learning possibilities! At SkillSwap, we believe that everyone has the potential to acquire new skills and knowledge, and our mission is to make that journey enjoyable, interactive, and accessible to all.</h2>
      <a href="{% url 'catalogue' %}" class="btn-get-started scrollto">Get Started</a>
      <img src="/media/hero-img.png" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->
    


  <!-- ======= Features Section ======= -->
  <section id="features" class="features" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>Features</h2>
        <p>Explore the diverse features of SkillSwap, your gateway to limitless learning opportunities.</p>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
          <img src="/media/assets/img/features-1.png" class="img-fluid" alt="SkillSwap Feature 1">
        </div>
        <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
          <h3>Unlock Your Potential with SkillSwap</h3>
          <p class="fst-italic">
            Embark on a journey of knowledge with SkillSwap, where learning knows no bounds.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Access a wide range of courses on various subjects.</li>
            <li><i class="bi bi-check"></i> Engage in interactive learning experiences.</li>
            <li><i class="bi bi-check"></i> Learn at your own pace with flexible schedules.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="/media/assets/img/features-2.png" class="img-fluid" alt="SkillSwap Feature 2">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
          <h3>Dive Deep into Expert-Led Courses</h3>
          <p class="fst-italic">
            Immerse yourself in high-quality courses led by industry experts.
          </p>
          <p>
            SkillSwap provides a platform for expert instructors to share their knowledge, ensuring a top-notch learning experience for all participants.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5" data-aos="fade-right">
          <img src="/media/assets/img/features-3.png" class="img-fluid" alt="SkillSwap Feature 3">
        </div>
        <div class="col-md-7 pt-5" data-aos="fade-left">
          <h3>Explore Diverse Subjects</h3>
          <p>
            SkillSwap offers a vast array of subjects, from technology and arts to business and health. Discover your passion and expand your knowledge in areas that interest you the most.
          </p>
          <ul>
            <li><i class="bi bi-check"></i> Choose from a wide variety of course categories.</li>
            <li><i class="bi bi-check"></i> Stay updated with the latest trends and advancements.</li>
            <li><i class="bi bi-check"></i> Learn from industry-specific experts.</li>
          </ul>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
          <img src="/media/assets/img/features-4.png" class="img-fluid" alt="SkillSwap Feature 4">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
          <h3>Connect with a Global Community</h3>
          <p class="fst-italic">
            Join a vibrant community of learners and instructors from around the world.
          </p>
          <p>
            SkillSwap fosters collaboration and networking, allowing you to connect with like-minded individuals, share experiences, and engage in discussions to enhance your learning journey.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->



   <center style="text-decoration: dotted;"> <h2 class="fst-italic">If you have any questions, contact us here!</h2></center><br>
    <div class="container d-flex align-items-center justify-content-center">
      
    <form action="{% url 'send_message' %}" method="post">
      {% csrf_token %}
        <!-- Name input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..." data-sb-validations="required" required />
            <label for="name">Full name</label>
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
        </div>
        <!-- Email address input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" data-sb-validations="required,email" required />
            <label for="email">Email address</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
        </div>
        <!-- Phone number input-->
       <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" name="phone" placeholder="(123) 456-7890" data-sb-validations="required" required />
            <label for="phone">Phone number</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
        </div>
        <!-- Captcha input -->
        <div class="g-recaptcha" data-sitekey="6LfcLW8kAAAAAB4r0HUc3BYgogZejPXAX2TUxqlp" aria-required="true"></div>

        <!-- Message input-->
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" name="message" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" required></textarea>
            <label for="message">Message</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
        </div>
        {% if not user.is_authenticated %} 
          <a class="btn btn-info" href="{% url 'login' %}">Authorize first</a>
        {% else %}  
        <!-- <button class="btn btn-primary btn-xl enabled" id="submitButton" type="submit">Send</button> -->
        <button  id="submitButton" type="submit" class="btn btn-primary">Submit
        </button>
        {% endif %}  
      
      
    </form>
  </div>

  
  <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
        </script>

        <script>
          window.addEventListener('load', () => {
          const $recaptcha = document.querySelector('#g-recaptcha-response');
          if ($recaptcha) {
            $recaptcha.setAttribute('required', 'required');
          }
        })
        </script> -->

        <script src="{% static 'bot.js' %}"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
      </body>


         <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SkillSwap</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#features">Features</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>


          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>SkillSwap</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bikin-free-simple-landing-page-template/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
      
    </div>
  </footer><!-- End Footer -->

      {% endblock %}
    <!-- </div> -->
       
    <!--reCaptcha js  -->
    <script>
      function onSubmit(token) {
        alert('Captcha is working')
        document.getElementById("demo-form").submit();
      }
   </script>

  



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>

